.game-wrapper {
  max-width: 1200px;
  //height: calc(100vh - 78px);
  height: 100vh;
  margin: 0 auto;
  .game-header {
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    .game-stats {
      min-width: 160px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      @media only screen and (max-width: 1200px) {
        min-width: 140px;
        justify-content: unset;
      }
      @media only screen and (max-width: 800px) {
        min-width: 120px;
      }
      @media only screen and (max-width: 600px) {
        min-width: 80px;
      }
      .remaining {
        width: 100%;
        color: $textColor;
        text-transform: uppercase;
        font-size: 20px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        @media only screen and (max-width: 1200px) {
          font-size: 17px;
        }
        @media only screen and (max-width: 800px) {
          font-size: 13px;
        }
        @media only screen and (max-width: 600px) {
          font-size: 11px;
        }
        .number {
          color: $textColorActive;
          font-size: 26px;
          @media only screen and (max-width: 1200px) {
            font-size: 22px;
          }
          @media only screen and (max-width: 800px) {
            font-size: 18px;
          }
          @media only screen and (max-width: 600px) {
            font-size: 14px;
          }
        }
      }

      .stopwatch {
        width: 100%;
        color: $textColorActive;
        font-size: 26px;
        text-align: center;
        @media only screen and (max-width: 1200px) {
          font-size: 22px;
        }
        @media only screen and (max-width: 800px) {
          font-size: 18px;
        }
        @media only screen and (max-width: 600px) {
          font-size: 14px;
        }
      }
    }


  }
  .game-body {
    width: 100%;
    height: calc(100% - 110px);
    margin: 0 auto;
    .all-cards {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 100%;
      padding: 0 10px;
      .card-rows {
        display: flex;
        justify-content: space-between;
      }
    }

    .game-loader {
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }
}
