.lobby-wrapper {
  //height: 420px;
  height: calc(100vh - 78px - 148px);
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 20px;
  .lobby-top {
    div {
      text-align: center;
      font-size: 34px;
      color: $textColor;
      @media only screen and (max-width: 600px) {
        font-size: 24px;
      }
        span {
        font-size: 40px;
        color: $textColorActive;
          @media only screen and (max-width: 600px) {
            font-size: 30px;
          }
        }
    }
  }
  .lobby-bot {
    color: $textColor;
    text-align: center;
    font-size: 34px;
    display: flex;
    align-items: center;
    flex-direction: column;
    @media only screen and (max-width: 600px) {
      font-size: 24px;
    }
  }
}
