$blueColor1: #022c43 !default;
$blueColor2: #003754 !default;

$textColor: #fff !default;
$textColorActive: #fddb3a !default;

$fontSizeMessage: 12px !default;
$fontSizeLower: 14px !default;
$fontSizeBigger: 16px !default;

$border: rgba(255, 255, 255, .1) !default;
$borderActive: rgba(255, 255, 255, .2) !default;

$buttonBg: rgba(255, 255, 255, 0.08) !default;
$buttonBgHover: rgba(255, 255, 255, 0.15) !default;
$buttonColor: rgba(255, 255, 255, 0.5) !default;


//Messages
$infoMessageBg: #00529B !default;
$infoMessageColor: #BDE5F8 !default;

$successMessageBg: #4F8A10 !default;
$successMessageColor: #DFF2BF !default;

$warningMessageBg: #9F6000 !default;
$warningMessageColor: #FEEFB3 !default;

$errorMessageBg: #FFBABA !default;
$errorMessageColor: #D8000C !default;
