.register-form {
  max-width: 760px;
  margin: 90px auto 0 auto;
  form {
    .btn-register {
      margin-bottom: 20px;
    }
    .form-inputs {
      display: flex;
      justify-content: space-between;


      .form-inputs-left, .form-inputs-right {
        width: 48%;
      }
    }
  }
  .quick-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    .nav-link {
      font-size: $fontSizeLower;
      color: $buttonColor;
      letter-spacing: .05rem;
      transition: .3s;

      &:hover {
        color: $textColorActive;
      }
    }
  }
}
