.register-form {
  max-width: 760px;
  margin: 90px auto 45px auto;
  @media only screen and (max-width: 600px) {
    margin: 90px 10px 45px 10px;
  }
  form {
    .btn-register {
      margin-bottom: 20px;
    }
    .form-inputs {
      display: flex;
      justify-content: space-between;
      @media only screen and (max-width: 600px) {
        flex-direction: column;
      }

      .form-inputs-left, .form-inputs-right {
        width: 48%;
        @media only screen and (max-width: 600px) {
          width: 100%;
        }
      }
    }
  }
  .quick-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    .nav-link {
      font-size: $fontSizeLower;
      color: $buttonColor;
      letter-spacing: .05rem;
      transition: .3s;

      &:hover {
        color: $textColorActive;
      }
    }
  }
}
