.leader-wrapper {
  max-width: 1200px;
  margin: 30px auto;
  @media only screen and (max-width: 650px) {
    margin: 30px 10px;
  }
    .ld-hd {
    display: flex;
    justify-content: center;
    margin: 45px 0;
    position: relative;
    div {
      h3 {
        text-align: center;
        font-size: 34px;
        color: $textColor;
        @media only screen and (max-width: 650px) {
          font-size: 20px;
        }
      }
    }
  }
  .time {
    position: absolute;
    right: 20px;
    bottom: 0;
    @media only screen and (max-width: 900px) {
      bottom: -40px;
    }
      p {
      color: $textColor;
      font-size: 14px;
      text-align: right;
      span {
        font-size: 16px;
        color: $textColorActive;
      }
    }
  }
  .table {
    min-height: 200px;
    max-height: 400px;
    overflow: scroll;
    border: 1px solid $border;
    table {
      width: 100%;
      border-collapse: collapse;
    }
  }
  .header {
    .row {
      height: 40px;
      border: 1px solid $border;
      @media only screen and (max-width: 900px) {
        height: 30px;
      }
        th {
        border-right: 1px solid $border;
        background-color: $blueColor1;
        color: $textColorActive;
        font-size: 20px;
        text-align: center;
        position: sticky;
        top: -1px;
        &:last-child {
          border-right: none;
        }
      }
    }
  }

  .body {
    .row {
      height: 40px;
      border: 1px solid $border;
      &:nth-child(2n+2) {
        background-color: $blueColor1;
      }
      @media only screen and (max-width: 900px) {
        height: 30px;
      }
      td {
        border-right: 1px solid $border;
        font-size: 16px;
        color: $textColor;
        text-align: center;
        &:last-child {
          border-right: none;
        }
        &.idRank {
          font-size: 18px;
          color: $textColorActive;
        }
      }
    }
  }
}
